.contact-button {
	height: 36px;
	width: 116px;
	border: solid 2px #999;
	outline: solid 1px #999;
	outline-offset: -6px;
	border-radius: 12px 2px;
	color: #fff;
	transition: 0.2s ease-in;
	padding: 4px;
	&:hover {
		background-color: #fff;
		color: #000;
		outline: solid 1px #fff;
		outline-offset: 4px;
	}
}
