@font-face {
	font-family: melodrama;
	src: url("./assets/fonts/Melodrama-Variable.ttf");
}
@font-face {
	font-family: outfit;
	src: url("./assets/fonts/Outfit-Variable.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: melodrama;
	letter-spacing: 2px;
	color: #ffff;
}
body {
	background: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	background-color: transparent;
}
